/* INIT */

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font: 400 normal 16px 'Roboto Slab', serif;
	overflow-x: hidden;
}

/* INTRO */

section.intro {
	width: 100%;
	width: 100vw;
	height: 100%;
	height: 100vh;
	background: url(video/poster.jpg);
}

@media screen and (min-width: 600px) {
	section.intro {
		background: none;
	}
}

.bg-video {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -40%);

	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;	
	
	z-index: -1;
}

.overlay {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	
	-webkit-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-box-pack: center;
	
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	
	min-width: 100%;
	min-width: 100vw;
	min-height: 100%;
	min-height: 100%;
	
	background: rgba(0, 0, 0, 0.4);
	
	color: #fff;
}

.overlay h1 {
	margin: 250px 0 10px;
	font-size: 4rem;
}

.overlay h1 em {
	font-style: normal;
	font-weight: 900;
	color: #e34e4e;
}

.overlay h2 {
	font-size: 1.5rem;
	font-weight: 300;
}

.overlay .tags span {
	display: inline-block;
	width: 4px;
	height: 4px;
	margin: 0 5px;
	border-radius: 100%;
	line-height: 1.6;
	background: #c94d4d;
}

.overlay .tags em {
	font-size: 0.9rem;
}

.overlay .explore {
	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	height: 30vh;
	margin-top: 70px;

	text-align: center;
/*	border: 1px solid red;*/
}

.overlay .explore i {
	line-height: 7;
	font-size: 1.8rem;
}

@media screen and (min-width: 600px) {
	section.intro {
		background: none;
	}
}

/* ABOUT */

section.about {
	background: #fff;
	margin-bottom: -3px;
}

.about-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: row nowrap;
	-ms-flex-wrap: row nowrap;
	flex-wrap: row nowrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin: 0 auto;
}

.about-wrapper .img-wrapper {
	-webkit-flex-basis: 50%;
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
		margin: 0;

}

.about-wrapper .img-wrapper img {
	max-width: 100%;
	margin: 0;
}

.about-wrapper .text-wrapper {
	-webkit-flex-basis: 40%;
	-ms-flex-preferred-size: 40%;
	flex-basis: 40%;
	
	font-size: 2rem;
	text-align: left;
	margin: 3rem 3rem 0 -3rem;
}

.about-wrapper .text-wrapper p {
	margin-top: 1.5rem;
	font-weight: 300;
}

.about-wrapper .text-wrapper .socials {
	margin-top: 2rem;
}

.about-wrapper .text-wrapper a {
	text-decoration: none;
	color: #000;	
}

.about-wrapper .text-wrapper i {
	font-size: 3rem;
	margin: 0 0.5rem 0 0;
}

/* PROJECTS */

section.projects {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
}

.project-item {
	-webkit-flex-basis: 20%;
	-ms-flex-preferred-size: 20%;
	flex-basis: 25%;
	height: 260px;
}

.project-item:hover img {
	-webkit-transform:scale(1.3);
	-ms-transform:scale(1.3);
	transform:scale(1.3);
}

.project-item img {
	width: 100%;
	height: 260px;
}

/* CONTACT */

section.contact {
	background: #fff;
	padding: 50px;
}

section.contact p {
	margin-right: 3rem;
	display: inline-block;
	font-weight: 900;
}

section.contact a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.4);
}

section.contact a:hover {
	color: rgba(0, 0, 0, 0.8);
}